
body{
	background: url(../images/Bg.jpg);
	font-size:14px;
	marks: 0px;
}
#title{
	color: #00FFFF;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
}
table{
	background-color: white;
	width: 910px;
}
li{
	list-style: none;
	line-height: 30px;
}
.emm{
	font-weight: bold;
	font-size: 20px;
}
.tj{
	background-color: #0cc;
	color:black;
	line-height: 30px;
	border: none;
	font-size: 20px;
	border-radius: 10px;
	font-weight: bold;

}